In [71]:
import pandas as pd

In [72]:
import numpy as np

In [73]:
peaks = pd.read_csv('data/peaks9k.csv', dtype = {'Latitude': str, 'Longitude': str})

In [74]:
peaks.head()

              Summit Name Elevation    Latitude    Longitude
0            Trapper Peak   10,157'  45.88989 N  114.29685 W
1              El Capitan    9,983'  46.00746 N  114.39604 W
2  The Shard (point 9883)    9,883'  45.95842 N  114.33598 W
3            Boulder Peak    9,804'  45.84721 N  114.34191 W
4      North Trapper Peak    9,801'  45.90064 N  114.28955 W

In [75]:
peaks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
Summit Name    44 non-null object
Elevation      44 non-null object
Latitude       44 non-null object
Longitude      44 non-null object
dtypes: object(4)
memory usage: 1.4+ KB

In [76]:
peaks['Latitude'] = pd.to_numeric(peaks['Latitude'].str.replace(' N', ''))

In [77]:
peaks['Longitude'] = pd.to_numeric(peaks['Longitude'].str.replace(' W', '')) * -1

In [78]:
peaks.head()

              Summit Name Elevation  Latitude  Longitude
0            Trapper Peak   10,157'  45.88989 -114.29685
1              El Capitan    9,983'  46.00746 -114.39604
2  The Shard (point 9883)    9,883'  45.95842 -114.33598
3            Boulder Peak    9,804'  45.84721 -114.34191
4      North Trapper Peak    9,801'  45.90064 -114.28955

In [79]:
peaks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
Summit Name    44 non-null object
Elevation      44 non-null object
Latitude       44 non-null float64
Longitude      44 non-null float64
dtypes: float64(2), object(2)
memory usage: 1.4+ KB

In [80]:
peaks.to_csv('clean_peaks.csv')